<h1>Edit Landmark:</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Landmark Name: </label><input type="text" name="landmark[name]" id="name">
  <label>Landmark Year Completed: </label><input type="text" name="landmark[year_completed]" id="year_completed">
  <label>Landmark Figure: </label><input type="text" name="figure" id="landmark_figure">
  <input type="submit" value="Edit Landmark">
</form>
